<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button" *ngIf="authService.loggedIn()">&#9776;</button>
  <a class="navbar-brand" routerLink="/"></a>
  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
    </li>
  </ul>

<ul class="nav navbar-nav ml-auto" *ngIf="authService.loggedIn()">
  <li class="nav-item dropdown" [ngClass]="{show: show}">
    <a class="nav-link avatar" data-toggle="dropdown" (click)="adminDrop($event)" href="javascript:void(0)"  role="button" aria-haspopup="true" aria-expanded="true">
      <img src="/assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" routerLink="/admin/profile"><i class="fa fa-user"></i> Profile</a>
      <div class="divider"></div>
      <a class="dropdown-item" href="javascript:void(0)" (click)="userLogout()"><i class="fa fa-lock"></i> Logout</a>
    </div>
  </li>
</ul>

</header>
