<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav" *ngIf="authService.loggedIn()">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']">
          <i class="icon-speedometer"></i> Dashboard
          <span class="badge badge-info">NEW</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/news/list']">
          <i class="icon-speedometer"></i> News
          <span class="badge badge-info">NEW</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/news/category']">
          <i class="icon-speedometer"></i> Add Category
          <span class="badge badge-info">NEW</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/news/tag']">
          <i class="icon-speedometer"></i> Add Tags
          <span class="badge badge-info">NEW</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/news/add']">
          <i class="icon-speedometer"></i> Add News
          <span class="badge badge-info">NEW</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/users']">
          <i class="icon-speedometer"></i> Users
          <span class="badge badge-info">NEW</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/register']">
          <i class="icon-speedometer"></i> Register
          <span class="badge badge-info">NEW</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
