<div class="animated fadeIn" *ngIf="data !== null">
  <div class="row">
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-block p-1 clearfix">
          <i class="fa fa-cogs bg-primary p-1 font-2xl mr-1 float-left"></i>
          <div class="text-uppercase text-muted font-weight-bold font-xs text-right mb-0 mt-h">Clients</div>
          <div class="h5 text-right">{{ data.users.count }}</div>
        </div>
        <div class="card-footer px-1 py-h">
          <a class="font-weight-bold font-xs btn-block text-muted" [routerLink]="['/users']" href="javascript:void();">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-block p-1 clearfix">
          <i class="fa fa-laptop bg-info p-1 font-2xl mr-1 float-left"></i>
          <div class="text-uppercase text-muted font-weight-bold font-xs text-right mb-0 mt-h">News</div>
          <div class="h5 text-right">{{ data.news.count }}</div>
        </div>
        <div class="card-footer px-1 py-h">
          <a class="font-weight-bold font-xs btn-block text-muted" [routerLink]="['/news/list']" href="javascript:void()">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-block p-1 clearfix">
          <i class="fa fa-moon-o bg-warning p-1 font-2xl mr-1 float-left"></i>
          <div class="text-uppercase text-muted font-weight-bold font-xs text-right mb-0 mt-h">Categories</div>
          <div class="h5 text-right">{{ data.news.categoryCount }}</div>
        </div>
        <div class="card-footer px-1 py-h">
          <a class="font-weight-bold font-xs btn-block text-muted" [routerLink]="['/news/category']" href="javascript:void()">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-block p-1 clearfix">
          <i class="fa fa-bell bg-danger p-1 font-2xl mr-1 float-left"></i>
          <div class="text-uppercase text-muted font-weight-bold font-xs text-right mb-0 mt-h">Tags</div>
          <div class="h5 text-right">{{ data.news.tagCount }}</div>
        </div>
        <div class="card-footer px-1 py-h">
          <a class="font-weight-bold font-xs btn-block text-muted" [routerLink]="['/news/tag']" href="javascript:void()">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

  <div class="row">

    <div class="col-sm-3">
      <div class="card">
        <div class="card-header card-header-inverse card-header-info">
          <div class="font-weight-bold">
            <span>Withdrawal Requests</span>
            <span class="float-right">10</span>
          </div>
          <div>
            <span>
              <small>{{ date }}</small>
            </span>
            <span class="float-right">
              <small>+432,50 (15,78%)</small>
            </span>
          </div>
        </div>
        <div class="card-block py-1 px-2">
          <div class="row">
            <div class="col-5">
              <strong>+$780,98</strong>
              <br>
              <span class="text-muted">
                <small>Weekly change</small>
              </span>
            </div>
            <div class="col-7 p-0">
            </div>
          </div>
        </div>
        <div class="card-block py-0 px-2 b-t-1">
          <div class="row">
            <div class="col-6 b-r-1 py-1">
              <div class="font-weight-bold">9.127</div>
              <div class="text-muted">
                <small>Deals</small>
              </div>
            </div>
            <div class="col-6 py-1 text-right">
              <div class="font-weight-bold">$189.783,87</div>
              <div class="text-muted">
                <small>Total Income</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-5">
              <h3 class="card-title clearfix mb-0">Latest Users</h3>
            </div>

          </div>
          <hr class="m-0">
          <br>
          <table class="table table-hover table-outline mb-0 hidden-sm-down">
            <thead class="thead-default">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>User</th>
                <th class="text-center">Credits</th>
                <th>Usage</th>
                <th class="text-center">Withdrwal Requests</th>
                <th>Activity</th>
                <th class="text-center">Satisfaction</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of data.users.list">
                <td class="text-center">
                  <div class="avatar">
                    <img [src]="'https://www.gravatar.com/avatar/'" class="img-avatar" [alt]="user.email">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div class="text-capitalize">{{ user.name }}</div>
                  <div class="small text-muted">
                    <span>New</span>| Registered: {{ user.created_at }}
                  </div>
                </td>
                <td class="text-center">
                  {{ user.credits }}
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>{{ user.credits }}</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted"></small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  0
                </td>
                <td>
                  <div class="small text-muted">News read</div>
                  <strong>10</strong>
                </td>
                <td class="text-center">
                  <div class="gaugejs-wrap sparkline" style="width:34px;height:34px">
                    <canvas id="gauge-1" width="34" height="34"></canvas>
                    <span class="value">100%</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
