<div class="row animated fadeIn" *ngIf="news">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <i class="icon-note"></i>
        Create News
      </div>
      <div class="card-block">
        <div class="alert alert-success" *ngIf="created === true">News Update Successful</div>
        <div class="alert alert-danger" *ngIf="created === false">{{ error }}</div>

        <form id="newsForm" (submit)="updateNews(newsForm.value)" [formGroup]="newsForm">
          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-addon col-sm-3">Title</span>
              <input class="form-control" name="title" placeholder="News Title" formControlName="title"/>
              <span class="input-group-addon"><i class="fa fa-male"></i> </span>
            </div>
          </fieldset>

          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-addon col-sm-3">Author</span>
              <input class="form-control" name="author" placeholder="Author" formControlName="author"/>
              <span class="input-group-addon"><i class="fa fa-male"></i> </span>
            </div>
          </fieldset>

          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-addon col-sm-3">Credits</span>
              <input class="form-control" name="credits" placeholder="News Title" formControlName="credits"/>
              <span class="input-group-addon"><i class="fa fa-male"></i> </span>
            </div>
          </fieldset>

          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-addon col-sm-3">Category</span>
              <select class="form-control" name="category" (change)="selectCategory($event.target.value)">
                <option *ngFor="let opt of categories" [value]="opt._id" [selected]="opt._id === category">{{ opt.name
                  }}
                </option>
              </select>
              <span class="input-group-addon"><i class="fa fa-male"></i> </span>
            </div>
          </fieldset>


          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-addon col-sm-3">Tags</span>
              <select class="form-control" name="tags" (change)="selectTags($event.target.options)" multiple>
                <option *ngFor="let tag of tags" [value]="tag._id" [selected]="checkSelectedTags(tag._id)">{{ tag.name }}</option>
              </select>
              <span class="input-group-addon"><i class="fa fa-male"></i></span>
            </div>
          </fieldset>

          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-addon col-sm-3">News Data</span>
              <jnex-tinymce [elementId]="'desc'" [data]="news === null ? '' : news.desc"
                            (onEditorKeyUp)="content($event)"></jnex-tinymce>
            </div>
          </fieldset>

          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-addon col-sm-3">Thumbnail 1</span>
              <input type="file" name="thumb1" class="form-control" formControlName="thumb1"
                     accept="image/png, image/jpg, image/jpeg, image/gif"/>
              <span class="input-group-addon col-sm-2">
                <img [src]="news.thumbnail.url1" *ngIf="news && news.thumbnail && news.thumbnail.url1" width="100%" height="100%"  />
              </span>
            </div>
          </fieldset>

          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-addon col-sm-3">Thumbnail 2</span>
              <input type="file" name="thumb2" class="form-control" formControlName="thumb2"
                     accept="image/png, image/jpg, image/jpeg, image/gif"/>
              <span class="input-group-addon col-sm-2">
                <img [src]="news.thumbnail.url2" *ngIf="news && news.thumbnail && news.thumbnail.url2" width="100%" height="100%"  />
              </span>
            </div>
          </fieldset>

          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-addon col-sm-3">Thumbnail 3</span>
              <input type="file" name="thumb3" class="form-control" formControlName="thumb3"
                     accept="image/png, image/jpg, image/jpeg, image/gif"/>
              <span class="input-group-addon col-sm-2">
                <img [src]="news.thumbnail.url3" *ngIf="news && news.thumbnail && news.thumbnail.url3" width="100%" height="100%" />
              </span>
            </div>
          </fieldset>

        </form>
        <div class="card-footer">
          <button class="btn btn-primary pull-right" form="newsForm" type="submit" [disabled]="!newsForm.valid">Add
            News
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
