<div class="row animated fadeIn">
  <div class="col-md-4 col-sm-11">
    <div class="card">
      <div class="card-header">
        <i class="icon-note"></i> Login
      </div>
      <div class="card-block">
        <div class="alert alert-danger" *ngIf="loginError.username === true">Invalid Username</div>
        <div class="alert alert-danger" *ngIf="loginError.password === true">Invalid Password</div>
        <div class="alert alert-success" *ngIf="result === true">{{ message }}</div>

        <form (submit)="loginFormSubmit(form.value)" [formGroup]="form" *ngIf="!working;else template">
          <fieldset class="form-group">
            <label>Username</label>
            <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-male"></i>
            </span>
              <input class="form-control" type="text" name="username" placeholder="Username" formControlName="username"/>
            </div>
          </fieldset>

          <fieldset class="from-group">
            <label>Password</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-male"></i></span>
              <input type="password" class="form-control" name="password" placeholder="password" formControlName="password" />
            </div>
          </fieldset>

          <div class="form-group">
            <button class="btn btn-primary pull-right" name="submit" [disabled]="!form.valid">Submit</button>
          </div>
        </form>
      </div>
    </div></div>

</div>

<ng-template #template>
<div class="sk-rotating-plane"></div>
</ng-template>
