<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header"><i class="icon-note"></i> Fetch</div>
      <div class="card-block">
        <form id="fetchNewsForm" (submit)="fetchNews(fetchNewsForm.value)" [formGroup]="fetchNewsForm">
          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-addon col-sm-3">URL</span>
              <input class="form-control" name="url" placeholder="News url" formControlName="url"/>
              <span class="input-group-addon"><i class="fa fa-wordpress"></i> </span>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="input-group">
              <span class="input-group-addon col-sm-3">Type</span>
              <!-- <label class="radio-inline"> ID
                <input type="radio" name="type" value="id" formControlName="type" />
              </label> -->
              <label class="radio-inline"> Slug
                <input type="radio" name="type" value="slug" formControlName="type" value="slug" />
              </label>
            </div>
          </fieldset>
        </form>
        <div class="card-footer">
          <button class="btn btn-primary btn-sm pull-right" form="fetchNewsForm" type="submit" [disabled]="!fetchNewsForm.valid">Add
            News
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="working" class="sk-rotating-plane"></div>
    <div class="card" *ngIf="res !== null && added === false">
      <div class="card-header"><i class="icon-note"></i>News Data</div>
      <div class="card-block">
        <table class="table table-dashed">
          <thead>
          <tr>
            <th>Fields</th>
            <th>Values</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>Title</th>
            <th>{{ res.title}}</th>
          </tr>
          <tr>
            <td>Date</td>
            <td>{{ res.date }}</td>
          </tr>
          <tr>
            <td>Slug</td>
            <td>{{ res.slug }}</td>
          </tr>
          <tr>
            <td>Content</td>
            <td innerHTML="{{ res.content }}"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary btn-sm pull-right" (click)="addNews()">Add</button>
      </div>
    </div>
    <jnex-news [news]="news" *ngIf="added"></jnex-news>
  </div>
</div>
